#cart h1 {
  color: var(--base-white);
  text-align: center;
}
#cart .content {
  padding: var(--spacing-5);
  border-radius: var(--spacing-6);
  background-color: var(--base-white);
}
#cart .content .order-summary h3,
#cart .content h6 {
  color: var(--base-black);
}
#cart .content .order-summary .title {
  border-bottom: solid 1px var(--gray-400);
}
#cart .content .order-summary .total {
  border-top: solid 1px var(--gray-400);
}
#cart .content .product-image-wrapper {
  border: 1px solid var(--gray-400);
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-4);
}
#cart .content .product-image-wrapper img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
}

#cart .borderless-table th,
#cart .borderless-table td {
  border: none;
}
#cart table p {
  color: var(--gray-600);
}

#cart table .btn-outline-secondary {
  border-radius: 50%;
}
#cart table .quantity-container input {
  border: none;
  max-width: 48px;
  display: inline-block;
  flex: 0 1 auto;
}
#cart table .quantity-container {
  border: 1px solid var(--gray-400);
  border-radius: var(--spacing-5);
  width: auto;
}

#cart table .btn-outline-secondary.delete {
  border: none;
}

@media (max-width: 768px) {
  #cart .content .product-image-wrapper {
    border: 1px solid var(--gray-400);
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-1);
  }
}
