.test {
  background-color: red;
}

.test2 {
  background-color: green;
}

.checkout-header {
  font-size: 60px;
  line-height: 150%;
  color: var(--secondary-background-color);
}

.tag {
  padding: 16px 24px;
  border: 1px solid var(--gray-400);
  color: var(--gray-700);
  border-radius: 64px;
  font-weight: 500;
}

.form-control {
  height: 52px; 
  font-size: 16px; 
  padding: 16px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
}

@media (min-width: 768px) {
  .checkout-form {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: 1200px) {
  .checkout-form {
    max-width: 800px; 
    padding-left: 50px;
    padding-right: 50px;
  }
}

.d-flex .form-control {
  margin-top: 16px; 
}

  .d-flex .form-check {
    margin-top: 16px; 
  }

.product-border{
  border: 1px solid var(--gray-400);
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-2);
}

.checkout-header {
  font-size: 48px;
  line-height: 150%;
  color: var(--secondary-background-color);
  word-wrap: break-word; word-break: break-word;
}