#featured-games .hero-section {
  background-image: url("../assets/pokemon-sun-and-moon-gameplay.png");
  background-size: cover;
  background-position: left;
  height: 100vh;
}

#featured-games #new-addition .title,
#featured-games #new-addition .content,
#featured-games #supported-consoles .content {
  border-radius: var(--spacing-6);
}

#featured-games #new-addition .title h1 {
  font-size: 64px;
}

#featured-games #new-addition .content,
#featured-games #supported-consoles .content,
#featured-games #timeless-classics .content,
#featured-games #retro-legends .content {
  padding-top: 100px;
  padding-bottom: 100px;
}
#featured-games #supported-consoles .logo {
  color: var(--pink-200);
}
#featured-games #supported-consoles .logo-wrapper {
  aspect-ratio: 1;
  border-radius: var(--spacing-3);
  overflow: hidden;
}

#featured-games #timeless-classics h1 {
  color: var(--primary-color);
}

#featured-games .image-wrapper {
  border-radius: var(--spacing-3);
  width: 100%;
  aspect-ratio: 5/3;
  object-position: center;
  object-fit: cover;
  overflow: hidden;
}

/* Media query for medium screens (tablets) */
@media (max-width: 768px) {
  #featured-games #new-addition .title h1 {
    font-size: var(--h1-font-size);
  }
  #featured-games #timeless-classics .content,
  #featured-games #retro-legends .content {
    padding: var(--spacing-6) var(--spacing-none);
  }
}
