.test {
  background-color: red;
}

.test2 {
  background-color: green;
}

.loading-page {
  background-color: var(--primary-background-color);
}

.loading {
  height: 64px;
}

.loading .color {
  width: 0px;
  height: 100%;
  background-color: var(--primary-color);
}

.video {
  position: relative; 
  width: 100%; 
  padding-bottom: 800px; 
  height: 0; 
  overflow: hidden;
}

.video-mask {
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%;
  background: linear-gradient(180deg, rgba(30, 31, 32, 0.00) 0%, #1E1F20 100%);
}

.video-description {
  position: absolute; 
  bottom: 0; 
  max-width: 1320px;
  left: 0;
}

.product-img {
  border: 1px solid var(--gray-400);
  background-color: var(--secondary-background-color);
  max-width: 536px;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.7s cubic-bezier(0.25, 1, 0.5, 1);
}

.product-img img {
  width: 100%;
}

.product-img:hover {
  border: transparent;
  box-shadow: 0px 0px 80px 0px rgba(188, 104, 207, 0.35);
}

.carousel {
  border-radius: 64px; 
  height: 70vh;
  position: relative;
}

.carousel-caption {
  top: 0px;
  text-shadow: 0px 4px 36px var(--Color-Base-black, #1E1F20);
  font-size: 40px;
}

.carousel-item {
  height: 70vh;
}

.carousel-img {
  width: 100% ;
  height: 100% ;
  object-fit: cover;
  object-position: top center; 
}

.carousel-mask {
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%;
  background: linear-gradient(180deg, rgba(30, 31, 32, 0.10) 0%, #1E1F20 100%);
  pointer-events: none;
}

.testimonies a {
  text-decoration: none;
}

.testimonies{
	position: relative;
	animation: slide 50s linear infinite;
}

@keyframes slide {
  from {
      transform: translateX(0);
  }
  to {
      transform: translateX(-100%);
  }
}

.testimony {
  width: 400px;
  outline: 1px solid var(--gray-400);
  transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}

.testimony:hover {
  outline: transparent;
  box-shadow: 0px 0px 80px 0px rgba(188, 104, 207, 0.35);
}

.testimony-img {
  width: 52px;
  height: 52px;
}

.testimonies-overlay-left{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100px;
  height: 60%;
	z-index: 1;
	background: linear-gradient(90deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
}

.testimonies-overlay-right{
	position: absolute;
	right: 0;
	bottom: 0;
	width: 100px;
  height: 60%;
	z-index: 1;
	background: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%);
}

.partner-name {
  font-size: 20px;
  line-height: 150%;
  font-family: var(--heading-font);
  font-weight: 500;
  color: var(--primary-color);
}

.partner-designation {
  font-size: 18px;
  line-height: 150%;
  color: var(--on-secondary-background-color);
}

.building {
  position: absolute;
  height: 64px;
  width: 64px;
  bottom: -64px;
  left: 0px;
  background-color: var(--pink-800);
  display: none;
}

@media (min-width:768px) {
  .video {
    padding-bottom: 36.25%;
  }
  .carousel, .carousel-item {
    height: 90vh;
  }
  .testimony {
    width: 536px;
  }
  .building {
    display: block;
  }
}

