<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Space+Grotesk:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/featured-games.css" />
  </head>
  <body class="primary-background">
    <main id="featured-games">
      <section>
        <div class="container-fluid hero-section d-flex align-items-end">
          <div class="col-lg-6 col-12 p-5">
            <h3>Discover New Games</h3>
            <p>
              Dive into a curated collection of iconic games that defined
              generations. From pixelated adventures to unforgettable battles,
              our featured games capture the essence of retro gaming at its
              finest. Discover timeless titles across multiple genres and
              consoles, each handpicked to deliver nostalgia and excitement in
              every playthrough. Ready to relive the magic? Start exploring!
            </p>
          </div>
        </div>
      </section>
      <section id="new-addition">
        <div class="container-fluid title secondary">
          <div
            class="row p-4 p-md-4 p-sm-4 justify-content-center align-items-center text-center"
          >
            <h1>New Additions</h1>
          </div>
        </div>
        <div class="container-fluid secondary-background content">
          <div class="row d-flex flex-md-row-reverse mb-md-5">
            <div
              class="col-lg-5 col-md-12 mb-4 px-4 d-flex flex-column justify-content-center"
            >
              <img
                src="../assets/pokemon-sun-and-moon-gameplay-2.png"
                class="img-fluid image-wrapper w-100"
                alt="Game Image"
              />
            </div>
            <div
              class="col-lg-7 col-md-12 mb-4 px-4 d-flex flex-column justify-content-center gap-md-3"
            >
              <h4>Pokémon Sun and Moon</h4>
              <p>
                Embark on an exciting adventure in the world of Pokémon, where
                you capture, train, and battle with a variety of unique
                creatures! As a young Pokémon Trainer, your mission is to become
                the ultimate Pokémon Champion by defeating gym leaders,
                collecting badges, and completing your Pokédex. Explore towns,
                forests, and caves, and face off against the nefarious Team
                Rocket in your quest to be the best. With strategic battles,
                unique Pokémon to discover, and endless fun, Pokémon delivers a
                nostalgic RPG experience that continues to captivate fans around
                the world.
              </p>
            </div>
          </div>

          <div class="row">
            <div
              class="col-lg-5 col-md-12 mb-4 px-4 d-flex flex-column justify-content-center"
            >
              <img
                src="../assets/pacman.png"
                class="img-fluid image-wrapper w-100"
                alt="Game Image"
              />
            </div>
            <div
              class="col-lg-7 col-md-12 mb-4 px-4 d-flex flex-column justify-content-center gap-md-3"
            >
              <h4>Pac-Man Championship Edition</h4>
              <p>
                Get ready for a thrilling twist on the classic Pac-Man arcade
                game! Pac-Man Championship Edition for Game Boy introduces
                exciting new mazes, power-ups, and faster-paced gameplay. Guide
                Pac-Man through neon-lit labyrinths, chomping on dots while
                avoiding colorful ghosts. Collect fruit for bonus points and
                watch out for the flashing power pellets that let you eat the
                ghosts for a limited time! With vibrant visuals, new challenges,
                and an updated twist on the iconic formula, Pac-Man Championship
                Edition brings the arcade classic into the portable world
              </p>
            </div>
          </div>
        </div>
      </section>
      <section id="supported-consoles">
        <div class="container-fluid primary content">
          <div class="row px-4 mb-3">
            <div class="col-12 text-center">
              <!-- Normal view for larger screens -->
              <div
                class="d-none d-md-flex flex-row gap-3 justify-content-center"
              >
                <h1 class="logo">&</h1>
                <h1>Supported consoles</h1>
              </div>

              <!-- Responsive view for smaller screens -->
              <div class="d-flex d-md-none flex-column align-items-center">
                <h1 class="logo">&</h1>
                <h1>Supported</h1>
                <h1>Consoles</h1>
              </div>
            </div>
          </div>
          <div class="row px-4 mb-5">
            <div class="col-12 text-center">
              <p>
                Our devices are designed to bring a wide range of classic gaming
                experiences to your fingertips. This device supports popular
                consoles from the golden age of gaming, including the Game Boy,
                Game Boy Advance, Sega Genesis, PlayStation, and more. Whether
                you’re reliving favorites or exploring new classics, our devices
                offer seamless emulation across multiple generations, giving you
                access to a vast library of retro games in one portable device.
                Dive back into your favorite worlds and discover timeless
                gameplay across all the consoles you love.
              </p>
            </div>
          </div>
          <div class="container">
            <div class="row gy-4 gx-4">
              <!-- NES -->
              <div class="col-6 col-md-4 col-lg-3">
                <div class="logo-wrapper">
                  <img
                    src="../assets/nes.png"
                    class="img-fluid"
                    alt="NES Logo"
                  />
                </div>
              </div>

              <!-- SNES -->
              <div class="col-6 col-md-4 col-lg-3">
                <div class="logo-wrapper">
                  <img
                    src="../assets/snes.png"
                    class="img-fluid"
                    alt="SNES Logo"
                  />
                </div>
              </div>

              <!-- Game Boy -->
              <div class="col-6 col-md-4 col-lg-3">
                <div class="logo-wrapper">
                  <img
                    src="../assets/gameboy.png"
                    class="img-fluid"
                    alt="Game Boy Logo"
                  />
                </div>
              </div>

              <!-- Game Boy Color  -->
              <div class="col-6 col-md-4 col-lg-3">
                <div class="logo-wrapper">
                  <img
                    src="../assets/gameboy-color.png"
                    class="img-fluid"
                    alt="Game Boy Color Logo"
                  />
                </div>
              </div>

              <!-- Game Boy Advance  -->
              <div class="col-6 col-md-4 col-lg-3">
                <div class="logo-wrapper">
                  <img
                    src="../assets/gameboy-advance.png"
                    class="img-fluid"
                    alt="Game Boy Advance Logo"
                  />
                </div>
              </div>

              <!-- Sega Genesis-->
              <div class="col-6 col-md-4 col-lg-3">
                <div class="logo-wrapper">
                  <img
                    src="../assets/sega-genesis.png"
                    class="img-fluid mb-2"
                    alt="Sega Genesis Logo"
                  />
                </div>
              </div>

              <!-- Sega Master System-->
              <div class="col-6 col-md-4 col-lg-3">
                <div class="logo-wrapper">
                  <img
                    src="../assets/sega-master.png"
                    class="img-fluid mb-2"
                    alt="Sega Master System Logo"
                  />
                </div>
              </div>

              <!-- PlayStation-->
              <div class="col-6 col-md-4 col-lg-3">
                <div class="logo-wrapper">
                  <img
                    src="../assets/ps1.png"
                    class="img-fluid mb-2"
                    alt="PlayStation Logo"
                  />
                </div>
              </div>

              <!-- MAME -->
              <div class="col-6 col-md-4 col-lg-3">
                <div class="logo-wrapper">
                  <img
                    src="../assets/mame.png"
                    class="img-fluid mb-2"
                    alt="MAME Logo"
                  />
                </div>
              </div>

              <!-- FBNEO -->
              <div class="col-6 col-md-4 col-lg-3">
                <div class="logo-wrapper">
                  <img
                    src="../assets/fba.png"
                    class="img-fluid mb-2"
                    alt="MAME Logo"
                  />
                </div>
              </div>

              <!-- Neo Geo-->
              <div class="col-6 col-md-4 col-lg-3">
                <div class="logo-wrapper">
                  <img
                    src="../assets/neo-geo.png"
                    class="img-fluid mb-2"
                    alt="Neo Geo Logo"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="timeless-classics">
        <div class="content primary-background">
          <div class="text-center mb-5">
            <h1>Timeless Classics</h1>
          </div>
          <div class="container-fluid">
            <div class="row d-flex flex-md-row-reverse mb-md-5">
              <div
                class="col-lg-5 col-md-12 mb-4 px-4 d-flex flex-column justify-content-center"
              >
                <img
                  src="../assets/sonic-the-hedgehog.png"
                  class="img-fluid image-wrapper w-100"
                  alt="Game Image"
                />
              </div>
              <div
                class="col-lg-7 col-md-12 mb-4 px-4 d-flex flex-column justify-content-center gap-md-3"
              >
                <h4>Sonic The Hedgehog</h4>
                <p>
                  Dash through loop-de-loops, race against time, and collect
                  golden rings as Sonic, the fastest hedgehog in gaming history!
                  Face off against the devious Dr. Robotnik, speed across
                  colorful landscapes, and save your friends from danger.
                  Rediscover the thrill of high-speed action and vibrant worlds
                  on your retro pocket with this timeless classic.
                </p>
              </div>
            </div>

            <div class="row">
              <div
                class="col-lg-5 col-md-12 mb-4 px-4 d-flex flex-column justify-content-center"
              >
                <img
                  src="../assets/legend-of-zelda.png"
                  class="img-fluid image-wrapper w-100"
                  alt="Game Image"
                />
              </div>
              <div
                class="col-lg-7 col-md-12 mb-4 px-4 d-flex flex-column justify-content-center gap-md-3"
              >
                <h4>Legend of Zelda</h4>
                <p>
                  Step into the legendary world of Hyrule as Link, the
                  courageous hero destined to protect the kingdom from the
                  sinister forces threatening it. Embark on epic adventures,
                  solve ancient puzzles, and conquer dungeons filled with
                  magical relics and powerful foes. This iconic classic brings
                  adventure and mystery to your fingertips on the retro pocket.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="retro-legends">
        <div class="content primary-background">
          <div class="text-center mb-5">
            <h1>Retro Legends</h1>
          </div>
          <div class="container-fluid">
            <div class="row d-flex flex-md-row-reverse mb-md-5">
              <div
                class="col-lg-5 col-md-12 mb-4 px-4 d-flex flex-column justify-content-center"
              >
                <img
                  src="../assets/street-fighter-II.png"
                  class="img-fluid image-wrapper w-100"
                  alt="Game Image"
                />
              </div>
              <div
                class="col-lg-7 col-md-12 mb-4 px-4 d-flex flex-column justify-content-center gap-md-3"
              >
                <h4>Street Fighter II</h4>
                <p>
                  Prepare for battle in the groundbreaking arcade classic that
                  set the standard for fighting games. Choose your fighter from
                  a diverse roster of characters, each with unique moves,
                  combos, and backgrounds, from Ryu’s powerful Hadouken to
                  Chun-Li’s lightning-fast kicks. Face off in intense one-on-one
                  matches across global arenas, mastering the art of timing,
                  strategy, and skill to dominate your opponents. Relive the
                  adrenaline and excitement of the original arcade hit on your
                  retro pocket, where every fight is a test of precision and
                  prowess.
                </p>
              </div>
            </div>

            <div class="row">
              <div
                class="col-lg-5 col-md-12 mb-4 px-4 d-flex flex-column justify-content-center"
              >
                <img
                  src="../assets/mortal-kombat.png"
                  class="img-fluid image-wrapper w-100"
                  alt="Game Image"
                />
              </div>
              <div
                class="col-lg-7 col-md-12 mb-4 px-4 d-flex flex-column justify-content-center gap-md-3"
              >
                <h4>Mortal Kombat</h4>
                <p>
                  Step into the arena and fight for supremacy in one of the most
                  iconic fighting games of all time. Choose from unforgettable
                  characters like Scorpion, Sub-Zero, and Raiden, each with
                  unique fighting styles and special moves. Test your skills in
                  intense, action-packed battles, and perform legendary 'Finish
                  Him!' moves for a brutal end to your opponents. Mortal Kombat
                  on retro pocket brings all the excitement, challenge, and
                  thrill of the arcade right into your hands.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
