<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Discover the Lumio 64: a compact, high-performance retro gaming console with a colourful display and incredible game support. 
    Perfect for retro and modern gamers seeking portable nostalgia. Shop now!">
    <title>Pyxels - Lumio 64</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Space+Grotesk:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="icon" href="../assets/pyxel-favicon.svg" type="image/svg">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/lumio.css" />
    <link rel="stylesheet" href="https://unpkg.com/lenis@1.1.13/dist/lenis.css">

    <script src="https://unpkg.com/lenis@1.1.14/dist/lenis.min.js"></script> 
    <script src="../js/lenis_scroll.js"></script> 
    <script src="../js/testimonies.js"></script> 
    <script src="../js/buy_now.js"></script> 
  </head>
  <body class="primary-background d-flex flex-column align-items-center overflow-hidden" style="overflow-x: hidden;">

    <!-- Navbar -->
    <nav id="navbar" class="navbar navbar-dark bg-transparent fixed-top navbar-expand-lg px-4 py-4" >
      <div class="container-fluid p-0 m-0">
        <a class="navbar-brand p-0" href="index.html">
          <img src="../assets/pyxels-logo.svg" alt="Pyxels">
        </a>
        <button class="navbar-toggler" type="button" 
          data-bs-toggle="offcanvas" 
          data-bs-target="#offcanvasDarkNavbar" 
          aria-controls="offcanvasDarkNavbar" 
          aria-label="Toggle navigation">
          <i class='bx bx-menu-alt-right icon fs-2' style="color: var(--secondary-background-color)"></i>
        </button>
        
        <div class="offcanvas offcanvas-end text-bg-dark" 
          tabindex="-1" 
          id="offcanvasDarkNavbar" 
          aria-labelledby="offcanvasDarkNavbarLabel">

          <div class="offcanvas-header">
            <img class="offcanvas-title" src="../assets/pyxels-logo.svg" alt="Pyxels">
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>

          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 gap-4" style="padding-right: 100px;">

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Pyxel Collection
                  <i class='bx bx-chevron-down icon'></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-dark">
                  <li><a class="dropdown-item" href="lumio.html">Lumio 64</a></li>
                  <li><a class="dropdown-item" href="voltio.html">Voltio Classic</a></li>
                </ul>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="about_us.html">Behind the Pyxels</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="featured-games.html">Game Arcade</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="news.html">Updates</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="customer-support.html">Support</a>
              </li>
              
              <a class="position-absolute cart-link" href="cart.html">
                <div class="d-flex justify-content-center align-items-center cart-btn">
                  <i class='bx bx-cart icon'></i>
                </div>
              </a>
            </ul>
          </div>

        </div>
      </div>
    </nav>

    <!-- Hero -->
    <div class="d-flex flex-column justify-content-center min-vh-100 w-100">
      <img src="../assets/lumio-assets/lumio-hero.svg" alt="hero-img" style="width: auto; height:auto;"> 
    </div>

    <!-- Offer -->
    <div class="d-flex flex-row py-5 flex-wrap align-items-center" style="max-width: 1320px;">

      <div class="d-flex flex-column gap-3 px-4 col-md-8 col-12">
        <h1 style="color: var(--secondary-background-color)">Limited Time Offer</h1>
        <p>Get ready to power up with the Lumio 64! For a limited time, enjoy 15% off your purchase of this premium retro gaming device. 
          Don’t miss the chance to experience iconic games with cutting-edge performance and sleek design—at an exclusive launch price. Offer ends soon!</p>
      </div>
      <div class="d-flex flex-column justify-content-start py-4 px-4 col-md-4 col-12">
        <p class="align-self-center" style="color: var(--secondary-color); font-weight: bold;">
          <span style="font-size: 112px; line-height: 112px;">20%</span>
          <span style="font-size: 32px;">OFF</span>
        </p>
        <div class="d-flex flex-column flex-sm-row gap-3">
          <a href="buy_now_lumio.html" class="d-flex flex-grow-1">
          <button type="button" class="btn btn-primary flex-grow-1">Buy Now</button>
          </a>
        
        </div>
      </div>

    </div>

    <!-- Product -->
    <div class="secondary-background w-100 overflow-hidden position-relative" style="border-radius: 64px;">
      <div class="d-flex flex-row flex-wrap pb-5">
        <div class="d-flex justify-content-center justify-content-lg-center pt-5 col-12 col-lg-6">
          <div class="d-flex flex-column px-3 px-lg-5 gap-4" style="max-width: 648px;">
            <div class="d-flex flex-column gap-3 pt-5 px-5">
              <div class="d-flex flex-row align-items-start gap-2">
                <h4 style="color: var(--primary-background-color)" class="m-0">The Iconic Console</h4>
              </div>
              <p>Inspired by the ever-loved consoles of yesteryear, the Lumio 64 offers a similar compact and curved shape, both familiar and inviting, making it the perfect nostalgic portable console for any collector gamer’s setup.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6 d-flex justify-content-center align-items-center">
          <img style="width: 100%; height: 100%; object-fit: contain;" src="../assets/lumio-assets/lumio-1.png" alt="Lumio 64">
        </div>
      </div>

      <div class="d-flex flex-row flex-wrap pb-5">
        <div class="col-12 col-lg-6 d-flex justify-content-center align-items-center">
          <img style="width: 100%; height: 100%; object-fit: contain;" src="../assets/lumio-assets/lumio-2.png" alt="Lumio 64">
        </div>
        <div class="d-flex justify-content-center justify-content-lg-center col-12 col-lg-6">
          <div class="d-flex flex-column px-3 px-lg-5 gap-4" style="max-width: 648px; padding-right: 100px;">
            <div class="d-flex flex-column gap-3 pt-5 px-5">
              <div class="d-flex flex-row align-items-start gap-2">
                <h4 style="color: var(--primary-background-color)" class="m-0">Nostalgic Ergonomics Layout</h4>
              </div>
              <p>Together with it’s intuitive layout, the classic ergonomic button layout that mimics the regular controller feel, with a d-pad and a joystick, evokes the sense of nostalgia as you play, even more so for long durations.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex flex-md-row-reverse flex-wrap pb-5">
        <div class="col-12 col-lg-6 d-flex justify-content-center align-items-center">
          <img style="width: 100%; height: 100%; object-fit: contain;" src="../assets/lumio-assets/lumio-3.png" alt="Lumio 64">
        </div>
        <div class="d-flex justify-content-center justify-content-lg-center col-12 col-lg-6">
          <div class="d-flex flex-column px-3 px-lg-5 gap-4" style="max-width: 648px;">
            <div class="d-flex flex-column gap-3 pt-5 px-5">
              <div class="d-flex flex-row align-items-start gap-2">
                <h4 style="color: var(--primary-background-color)" class="m-0">Precision RGB Joysticks</h4>
              </div>
              <p>The Lumio 64 joystick features dynamic RGB lighting, inducing a modern twist to its retro-inspired design. With many color options to choose from, the joystick can glow in any hue you choose, allowing you to match your style. It’s not just a control—it’s a statement that brings a vibrant energy and changes your entire gaming experience.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex flex-row flex-wrap pb-5">
        <div class="col-12 col-lg-6 d-flex justify-content-center align-items-center">
          <img style="width: 100%; height: 100%; object-fit: contain;" src="../assets/lumio-assets/lumio-4.png" alt="Lumio 64">
        </div>
        <div class="d-flex justify-content-center justify-content-lg-center col-12 col-lg-6">
          <div class="d-flex flex-column px-3 px-lg-5 gap-4" style="max-width: 648px;">
            <div class="d-flex flex-column gap-3 pt-5 px-5">
              <div class="d-flex flex-row align-items-start gap-2">
                <h4 style="color: var(--primary-background-color)" class="m-0">Modern Touches</h4>
              </div>
              <p>Enhanced with contemporary technology, the Lumio 64 is equipped with high-quality performance. For playablity, four strategically placed rear buttons, two on each side, seamlessly merging the retro design with the modern ergonomics, adding versatility to gameplay and making every action responsive and accurate with the use of these buttons.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex flex-column align-items-center px-4" style="padding: 100px 0px; gap: var(--spacing-6)">
        <div class="d-flex justify-content-center align-items-center col-12 col-md-4" style="width: 100%;">
          <div class="threelumio-img">
            <img src="../assets/lumio-assets/index-lumio.png" alt="Lumio 64" style="width: 100%; height: auto;">
          </div>
        </div>
        <div class="d-flex flex-row flex-wrap justify-content-center mx-auto" style="max-width: 1320px;">
          <div class="d-flex flex-column justify-content-start px-3 py-4 gap-4 col-12 col-md-4">
            <h4 style="color: var(--primary-background-color)" class="m-0">Smoky Black</h4>
            <p style="white-space: normal;">A deep, translucent black that recalls classic electronics, Smoky Black brings a timeless, vintage vibe to Lumio 64, grounding its look with a sleek, sophisticated touch.</p>
          </div>
          <div class="d-flex flex-column justify-content-start px-3 py-4 gap-4 col-12 col-md-4">
            <h4 style="color: var(--primary-background-color)" class="m-0">Vintage White</h4>
            <p style="white-space: normal;">With its warm, off-white tone, Vintage White creates the look of the retro tech. It adds a nostalgic charm and approachable feel, reminiscent of classic gaming devices.</p>
          </div>
          <div class="d-flex flex-column justify-content-start px-3 py-4 gap-4 col-12 col-md-4">
            <h4 style="color: var(--primary-background-color)" class="m-0">Electric Purple</h4>
            <p style="white-space: normal;">Electric Purple is a bold, energetic shade that pops against the retro base colors. It portrays a playful, neon-inspired glow that captures the adventurous feel of classic gaming.</p>
          </div>
        </div>
        <div class="d-flex flex-column align-items-center">
          <div class="d-flex flex-row align-items-center gap-3 mb-3">
            <p style="font-size: 36px; font-weight: bold; color: var(--primary-color)">S$71.10</p>
            <s style="font-size: 20px;">S$88.90</s>
          </div>
          <a href="buy_now_lumio.html">
          <button type="button" class="btn btn-primary" style="width: 200px;">Buy Now</button>
          </a>
        </div>
      </div>
    </div>

    <!-- Games -->
    <div class="d-flex flex-column gap-5 justify-content-center overflow-hidden position-relative" style="margin-top: 100px;">
      <div class="d-flex flex-column text-center px-4 align-self-center" style="max-width: 1096px;">
        <h1 style="color: var(--secondary-background-color)"><span style="color: var(--pink-200)">+</span> Games</h1>
        <p style="font-size: 20px; line-height: 150%;" class="pt-4">Take a step back into the retro world with Lumio 64. From pixel-perfect platformers to action titles, Lumio 64 offers a nostalgic library to your fingertips, with seamless gameplay and clear visuals that stay true to the original.</p>
      </div>
    </div>
    <div class="d-flex justify-content-center align-items-center col-12 col-md-4" style="width: 100%; max-width: 100%;">
      <img class="custom-image" src="../assets/lumio-assets/games.png" alt="Lumio 64" style="width: 100%; height: auto;">
    </div>
    <div class="d-flex flex-column gap-5 justify-content-center overflow-hidden position-relative" style="margin-bottom: 100px;">
      <div class="d-flex flex-column text-center px-4 align-self-center" style="max-width: 1096px;">
        <p style="font-size: 20px; line-height: 150%;" class="pt-4">With over 20 emulators available, 15000+ classic games are at your fingertips. Lumio 64 is the gateway to the greatest titles played. Everything you need for hours of nostalgic gameplay is here. Dive in and explore the library to find your favourites.</p>
        <div class="d-flex flex-column align-items-center mt-4">
        <a href="featured-games.html">
        <button type="button" class="btn btn-warning" style="width: 200px;">Browse More</button>
        </a>
      </div>
      </div>
    </div>

    <!-- Display -->
    <div class="secondary-background w-100 d-flex flex-column gap-5 justify-content-center overflow-hidden position-relative" style="border-radius: 64px; padding: 100px 0px;">
      <div class="d-flex flex-column text-center px-4 align-self-center" style="max-width: 1096px;">
        <h1 style="color: var(--primary-background-color)"><span style="color: var(--pink-200)">+</span> Display</h1>
        <p style="font-size: 20px; line-height: 150%;" class="pt-4">Take a step back into the retro world with Lumio 64. From pixel-perfect platformers to action titles, Lumio 64 offers a nostalgic library to your fingertips, with seamless gameplay and clear visuals that stay true to the original.</p>
      </div>
      <div class="d-flex flex-row flex-wrap pb-5">
        <div class="col-12 col-lg-6 d-flex justify-content-center align-items-center">
          <img style="width: 100%; height: 100%; object-fit: contain;" src="../assets/lumio-assets/display-1.png" alt="Lumio 64">
        </div>
        <div class="d-flex justify-content-center justify-content-lg-start px-5 col-12 col-lg-6">
          <div class="d-flex flex-column px-5 gap-4" style="max-width: 648px;">
            <div class="d-flex flex-column py-5 gap-3">
              <div class="d-flex flex-row align-items-start gap-3">
                <img src="../assets/lumio-assets/tick.svg" >
                <h4 style="color: var(--primary-background-color)" class="m-0">Enhanced Brightness</h4>
              </div>
              <div class="d-flex flex-row align-items-start gap-3">
                <img src="../assets/lumio-assets/tick.svg" >
                <h4 style="color: var(--primary-background-color)" class="m-0">Enhanced Contrast</h4>
              </div>
              <div class="d-flex flex-row align-items-start gap-3">
                <img src="../assets/lumio-assets/tick.svg" >
                <h4 style="color: var(--primary-background-color)" class="m-0">High Frame Rate</h4>
              </div>
              <p>Play with crystal-clear visibility in any lighting condition, whether you’re in indoors or out. Combined with a high, consistent frame rate, even the most action-based scenes stay smooth and enjoyable, delivering a perfect retro gaming experience.</p>
            </div>
          </div>
        </div>
      </div>
        <div class="d-flex flex-md-row-reverse flex-wrap pb-5">
        <div class="col-12 col-lg-6 d-flex justify-content-center align-items-center">
          <img style="width: 100%; height: 100%; object-fit: contain;" src="../assets/lumio-assets/display-2.svg" alt="Lumio 64">
        </div>
        <div class="d-flex justify-content-center justify-content-lg-start px-5 col-12 col-lg-6">
          <div class="d-flex flex-column px-5 gap-4" style="max-width: 648px;">
            <div class="d-flex flex-column py-5 gap-3">
              <div class="d-flex flex-row align-items-start gap-3">
                <img src="../assets/lumio-assets/tick.svg" >
                <h4 style="color: var(--primary-background-color)" class="m-0">High-Resolution</h4>
              </div>
              <div class="d-flex flex-row align-items-start gap-3">
                <img src="../assets/lumio-assets/tick.svg" >
                <h4 style="color: var(--primary-background-color)" class="m-0">True to Colour</h4>
              </div>
              <p>Enjoy every detail in sharp, HD quality that brings retro games to life. The colours are accurate in staying faithful to the classic graphics. Optimized for retro gaming, the 4:3 screen ratio ensure that the original look and enjoyment of classic games are displayed the way they are meant to be experienced, pure nostalgia in its most authentic form.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <!-- Relive the classics -->
    <div class="d-flex flex-row flex-wrap justify-content-center align-items-center w-100" 
        style="background-color: var(--secondary-color); border-radius: 64px; margin: 0 auto; padding: 100px 0px;">

      <div class="d-flex col-12 col-md-6 px-5">
        <h1 style="color: var(--secondary-background-color); margin: 0; font-size: 64px; word-wrap: break-word; word-break: break-word;">
          RELIVE THE CLASSICS.
        </h1>
      </div>

      <div class=" d-flex flex-column col-12 col-md-6 px-5 py-4 align-items-center gap-4" style="text-align: center;">
        <h3 style="color: var(--secondary-background-color);">
          Dive back into the golden age of gaming in High Definition.
        </h3>
        <a href="buy_now_lumio.html">
        <button type="button" class="btn btn-primary" style="width: 200px;">
          Buy Now
        </button>
        </a>
      </div>

    </div>

    <!-- Performance -->
    <div class="d-flex flex-column gap-5 justify-content-center overflow-hidden position-relative" style="padding: 100px 0;">
      <div class="d-flex flex-column text-center px-4 align-self-center" style="max-width: 1096px;">
        <h1 style="color: var(--secondary-background-color); word-wrap: break-word; word-break: break-word;">
          <span style="color: var(--pink-200);">+</span> Performance</h1>
        <p style="font-size: 20px; line-height: 150%;" class="pt-4">Engineered for a seamless gameplay, the Lumio 64 has the ability to offer classic games a smooth, delay-free performance. Optimized to handle many retro titles, its efficient processing ensures every game runs with no slowdowns. </p>
      </div>
    </div>

    <div class="d-flex justify-content-center align-items-center col-12 col-md-4" style="width: 100%; border-radius: 64px; max-width: 100%;">
      <img class="custom-image" src="../assets/lumio-assets/performance.png" alt="Lumio 64" style="width: 100%; height: auto;">
    </div>

    <div class="container m-0 py-5" style="max-width: 1096px;">
      <div class="row mx-auto justify-content-between">
        <div class="col-12 col-md-6 d-flex flex-column gap-3 px-4 py-4">
          <div class="d-flex flex-row align-items-center gap-3">
            <img src="../assets/lumio-assets/performance-1.svg">
            <h4 class="mb-0" style="color: var(--secondary-background-color)">GPU: Dual-Core G31 MP2</h4>
          </div>
          <p>Powered by a dual-core G31 MP2 graphics processor, the Lumio 64 has the capability to run smooth visuals and responsive gameplay, making all games it run efficiently while looking sharp.</p>
        </div>
        <div class="col-12 col-md-6 d-flex flex-column gap-3 px-4 py-4">
          <div class="d-flex flex-row align-items-center gap-3">
            <img src="../assets/lumio-assets/performance-2.svg">
            <h4 class="mb-0" style="color: var(--secondary-background-color)">RAM: LPDDR4 1GB</h4>
          </div>
          <p>Equipped with 1GB of LPDDR4 memory, the Lumio 64 can save and load with quick times and fluid transitions, making every game experience seamless and lag-free.</p>
        </div>
      </div>

      <div class="row mx-auto justify-content-between">
        <div class="col-12 col-md-6 d-flex flex-column gap-3 px-4 py-4">
          <div class="d-flex flex-row align-items-center gap-3">
            <img src="../assets/lumio-assets/performance-3.svg">
            <h4 class="mb-0" style="color: var(--secondary-background-color)">ROM: 64GB TF/Micro SD</h4>
          </div>
          <p>With up to 64GB of expandable storage with TF/Micro SD, there is ample space for a whole collection of games, making it possible to carry thousands of titles in one single device.</p>
        </div>
        <div class="col-12 col-md-6 d-flex flex-column gap-3 px-4 py-4">
          <div class="d-flex flex-row align-items-center gap-3">
            <img src="../assets/lumio-assets/performance-4.svg">
            <h4 class="mb-0" style="color: var(--secondary-background-color)">Battery: 3200mAh</h4>
          </div>
          <p>With 32000mAh, the Lumio 64 has one of the longest lasting battery life as a retro pocket, offering up to 6 lasting hours when fully charged.</p>
        </div>
      </div>

      <div class="row mx-auto justify-content-between">
        <div class="col-12 col-md-6 d-flex flex-column gap-3 px-4 py-4">
          <div class="d-flex flex-row align-items-center gap-3">
            <img src="../assets/lumio-assets/performance-5.svg">
            <h4 class="mb-0" style="color: var(--secondary-background-color)">2.4/5G WIFI</h4>
          </div>
          <p>Stay connected with the reliable dual band 2.4/5G WIFI, designed for smooth online battles. With fast speeds and low latency, battle anyone around the world making every match feel as responsive as local play</p>
        </div>
        <div class="col-12 col-md-6 d-flex flex-column gap-3 px-4 py-4">
          <div class="d-flex flex-row align-items-center gap-3">
            <img src="../assets/lumio-assets/performance-6.svg">
            <h4 class="mb-0" style="color: var(--secondary-background-color)">Bluetooth 4.2</h4>
          </div>
          <p>Enjoy the power of Bluetooth 4.2, allowing you to stream both audio and gameplay seamlessly to devices that are compatible. Whether it be wireless headphones or sharing screen for your gameplay, the Bluetooth 4.2 adds versatility to your experience.</p>
        </div>
      </div>
    </div>


    <!-- Product Specifications -->
    <div class="d-flex flex-column w-100" style="padding: 100px 0px; max-width: 1096px;">
      <h1 class="text-center px-3" style="color: var(--secondary-background-color); word-wrap: break-word; word-break: break-word;"><span style="color: var(--pink-200)">+</span> Product Specifications</h1>
      <div class="d-flex justify-content-center align-items-center col-12 col-md-4" style="width: 100%; max-width: 100%;">
        <img class="custom-image" src="../assets/lumio-assets/prod-spec.svg" alt="Lumio 64" style="width: 100%; height: auto; padding: 48px 0">
      </div>
      <div class="d-flex flex-column gap-5">
        <div class="d-flex flex-row flex-wrap">
          <div class="d-flex flex-column px-4 pt-5 gap-5 col-12 col-md-6">

            <div class="d-flex flex-row align-items-start gap-2">
              <h6 class="m-0 specs-header">Colours:</h6>
              <p class="m-0 specs-p">Smoky Black, Electric Purple, Vintage White</p>
            </div>
            <div class="d-flex flex-row align-items-start gap-2">
              <h6 class="m-0 specs-header">Screen:</h6>
              <p class="m-0 specs-p">4.0-inch IPS screen, OCA full lamination, resolution: 640*480</p>
            </div>
            <div class="d-flex flex-row align-items-start gap-2">
              <h6 class="m-0 specs-header">CPU:</h6>
              <p class="m-0 specs-p">H700 quad-core ARM Cortex-A53, 1.5GHz frequency</p>
            </div>
            <div class="d-flex flex-row align-items-start gap-2">
              <h6 class="m-0 specs-header">GPU:</h6>
              <p class="m-0 specs-p">Dual-Core G31 MP2</p>
            </div>
            <div class="d-flex flex-row align-items-start gap-2">
              <h6 class="m-0 specs-header">RAM:</h6>
              <p class="m-0 specs-p">LPDDR4 1GB</p>
            </div>
            <div class="d-flex flex-row align-items-start gap-2">
              <h6 class="m-0 specs-header">Storage:</h6>
              <p class="m-0 specs-p">64GB TF/MicroSD</p>
            </div>
            
          </div>

          <div class="d-flex flex-column px-4 pt-5 gap-5 col-12 col-md-6">
            
            <div class="d-flex flex-row align-items-start gap-2">
              <h6 class="m-0 specs-header">System:</h6>
              <p class="m-0 specs-p">Linux 64-bit</p>
            </div>
            <div class="d-flex flex-row align-items-start gap-2">
              <h6 class="m-0 specs-header">Speaker:</h6>
              <p class="m-0 specs-p">High-fidelity speaker</p>
            </div>
            <div class="d-flex flex-row align-items-start gap-2">
              <h6 class="m-0 specs-header">WIFI:</h6>
              <p class="m-0 specs-p">2.4/5G WIFI 802.11a/b/g/n/ac</p>
            </div>
            <div class="d-flex flex-row align-items-start gap-2">
              <h6 class="m-0 specs-header">Bluetooth:</h6>
              <p class="m-0 specs-p">Bluetooth 4.2</p>
            </div>
            <div class="d-flex flex-row align-items-start gap-2">
              <h6 class="m-0 specs-header">Battery:</h6>
              <p class="m-0 specs-p">Li-polymer battery 3200mAh, lasting 6 hours</p>
            </div>
            <div class="d-flex flex-row align-items-start gap-2">
              <h6 class="m-0 specs-header">TF card:</h6>
              <p class="m-0 specs-p">Dual card slots, support TF card expansion, maximum 512GB</p>
            </div>
            
          </div>
        </div>

        <!-- Others -->
        <div class="d-flex flex-row align-items-start gap-2 px-4">
          <h6 class="m-0 specs-header">Others:</h6>
          <p class="m-0 specs-p">2.4 G wireless controller and wired controller connection, HD connection to monitor, file manager, expert mode, WIFI online pairing, streaming, vibration
            Supports music player with formats such as FLAC, MP3, WAV, APE, AIF, AIFF, OGG, WMA, AAC, M4A, M4R, file manager, expert mode, e-book reader (supports TXT format).</p>
        </div>
      </div>
    </div>

    <!-- Retro Approved -->
    <div class="secondary-background w-100 d-flex flex-column gap-5 justify-content-center overflow-hidden position-relative" style="border-radius: 64px; padding: 100px 0px;">
      <div class="d-flex flex-column text-center px-4 gap-4 align-self-center" style="max-width: 1096px;">
        <h1 style="color: var(--primary-background-color)"><span style="color: var(--pink-200)">+</span> Lumio Approved</h1>
        <p style="font-size: 20px; line-height: 150%;">With its ultra-portable design and crisp, vibrant display, the Lumio 64 is redefining retro gaming. 
          Praised for its seamless blend of nostalgic charm and modern technology, it provides an immersive gaming experience that appeals to both casual players and 
          die-hard fans alike. Featuring a wide range of retro game compatibility and intuitive controls, the Lumio 64 ensures hours of entertainment on the go. 
          Discover why it's quickly becoming a favorite among gamers, offering the perfect mix of retro appeal and cutting-edge performance.</p>
      </div>

      <!-- Infinite scroll -->
      <div class="d-flex flex-row gap-4 px-5 position-relative" style="width: 5000px;">
        <div class="d-flex flex-row gap-4 justify-content-start testimonies py-1">

          <a href="https://www.youtube.com/watch?v=3Nq2Q_BzFrU" target="_blank" class="d-flex flex-grow-1">
            <div class="testimony d-flex flex-column p-4 gap-4">
              <img src="../assets/lumio-assets/quote.svg" style="width: 24px; height: 24px;">
              <p class="m-0" style="font-size: 24px; line-height: 150%; color: var(--gray-800)">
                The Lumio 64 nails the balance between nostalgia and innovation. Whether you’re revisiting childhood favorites or exploring hidden gems,
                the crisp visuals and responsive controls make every game feel like new.
              </p>
              
              <div class="d-flex flex-row gap-3 flex-grow-1 align-items-end">
                <img class="testimony-img" src="../assets/lumio-assets/testimonies/vladnerd.png" alt="partner">
                <div class="d-flex flex-column">
                  <p class="m-0 partner-name">VladNerd</p>
                  <p class="m-0 partner-designation">Gaming Hardware Specialist</p>
                </div>
              </div>
            </div>
          </a>

          <a href="https://retrohandhelds.gg/anbernic-rg40xxv-review/" target="_blank" class="d-flex flex-grow-1">
            <div class="testimony d-flex flex-column p-4 gap-4">
              <img src="../assets/lumio-assets/quote.svg" style="width: 24px; height: 24px;">
              <p class="m-0" style="font-size: 24px; line-height: 150%; color: var(--gray-800)">
                From NES to PS1, the Lumio 64 handles it all with ease. The intuitive menu system and excellent battery life mean you’ll spend more time
                gaming and less time fiddling with settings. A truly versatile handheld.
              </p>
              
              <div class="d-flex flex-row gap-3 flex-grow-1 align-items-end">
                <img class="testimony-img" src="../assets/lumio-assets/testimonies/creative4gaming.png" alt="partner">
                <div class="d-flex flex-column justify-content-between">
                  <p class="m-0 partner-name">Creative4Gaming</p>
                  <p class="m-0 partner-designation">Content Creator and Game Reviewer</p>
                </div>
              </div>
            </div>
          </a>

          <a href="https://retrododo.com/anbernic-rg40xx-v-review/" target="_blank" class="d-flex flex-grow-1">
            <div class="testimony d-flex flex-column p-4 gap-4">
              <img src="../assets/lumio-assets/quote.svg" style="width: 24px; height: 24px;">
              <p class="m-0" style="font-size: 24px; line-height: 150%; color: var(--gray-800)">
                With its ultra-narrow bezel and sharp 4-inch IPS screen, this device gives off that perfect retro vibe. 
                It's a real blast for fans of vertical handhelds, though the rapid product releases by Pyxels might make it harder for owners to keep up with all the update.
              </p>
              
              <div class="d-flex flex-row gap-3 flex-grow-1 align-items-end">
                <img class="testimony-img" src="../assets/lumio-assets/testimonies/retrododo.png" alt="partner">
                <div class="d-flex flex-column justify-content-between">
                  <p class="m-0 partner-name">RetroDodo</p>
                  <p class="m-0 partner-designation">Retro Gaming Blog</p>
                </div>
              </div>
            </div>
          </a>

          <a href="https://www.youtube.com/watch?v=ECe4Lak58fY" target="_blank" class="d-flex flex-grow-1">
            <div class="testimony d-flex flex-column p-4 gap-4">
              <img src="../assets/lumio-assets/quote.svg" style="width: 24px; height: 24px;">
              <p class="m-0" style="font-size: 24px; line-height: 150%; color: var(--gray-800)">
                What surprised me most was how user-friendly this device is for beginners, yet so versatile for seasoned modders. 
                The performance on this system punches well above its price point, and the screen clarity is downright stunning for retro titles.
              </p>
              
              <div class="d-flex flex-row gap-3 flex-grow-1 align-items-end">
                <img class="testimony-img" src="../assets/lumio-assets/testimonies/retrogamecorps.png" alt="partner">
                <div class="d-flex flex-column">
                  <p class="m-0 partner-name">Retro Game Corps</p>
                  <p class="m-0 partner-designation">Retro Gaming Expert</p>
                </div>
              </div>
            </div>
          </a>

          <a href="https://droix.net/blogs/anbernic-rg-40xxv-review/" target="_blank" class="d-flex flex-grow-1">
            <div class="testimony d-flex flex-column p-4 gap-4">
              <img src="../assets/lumio-assets/quote.svg" style="width: 24px; height: 24px;">
              <p class="m-0" style="font-size: 24px; line-height: 150%; color: var(--gray-800)">
                The Lumio 64 is an exceptional blend of modern functionality and retro charm. Its ergonomic design and customizable 
                RGB lighting make it perfect for marathon gaming sessions, while the crisp 4-inch display breathes new life into classic games.
              </p>
              
              <div class="d-flex flex-row gap-3 flex-grow-1 align-items-end">
                <img class="testimony-img" src="../assets/lumio-assets/testimonies/droix.png" alt="partner">
                <div class="d-flex flex-column justify-content-between">
                  <p class="m-0 partner-name">DroiX</p>
                  <p class="m-0 partner-designation">Retro Gaming Store Owner</p>
                </div>
              </div>
            </div>
          </a>

          <a href="https://retrohandhelds.gg/anbernic-rg40xxv-review/" target="_blank" class="d-flex flex-grow-1">
            <div class="testimony d-flex flex-column p-4 gap-4">
              <img src="../assets/lumio-assets/quote.svg" style="width: 24px; height: 24px;">
              <p class="m-0" style="font-size: 24px; line-height: 150%; color: var(--gray-800)">
                This console feels like a love letter to retro gaming fans. The tactile buttons, lightweight frame, and seamless 
                emulation make it one of the most enjoyable devices to play on. It just works, straight out of the box.
              </p>
              
              <div class="d-flex flex-row gap-3 flex-grow-1 align-items-end">
                <img class="testimony-img" src="../assets/lumio-assets/testimonies/retrohandhelds.png" alt="partner">
                <div class="d-flex flex-column justify-content-between">
                  <p class="m-0 partner-name">Retro Handhelds</p>
                  <p class="m-0 partner-designation">Retro Gaming Reviewer</p>
                </div>
              </div>
            </div>
          </a>

        </div>

        <div class="d-flex flex-row gap-4 justify-content-start testimonies py-1">

          <a href="https://www.youtube.com/watch?v=3Nq2Q_BzFrU" target="_blank" class="d-flex flex-grow-1">
            <div class="testimony d-flex flex-column p-4 gap-4">
              <img src="../assets/lumio-assets/quote.svg" style="width: 24px; height: 24px;">
              <p class="m-0" style="font-size: 24px; line-height: 150%; color: var(--gray-800)">
                The Lumio 64 nails the balance between nostalgia and innovation. Whether you’re revisiting childhood favorites or exploring hidden gems,
                the crisp visuals and responsive controls make every game feel like new.
              </p>
              
              <div class="d-flex flex-row gap-3 flex-grow-1 align-items-end">
                <img class="testimony-img" src="../assets/lumio-assets/testimonies/vladnerd.png" alt="partner">
                <div class="d-flex flex-column">
                  <p class="m-0 partner-name">VladNerd</p>
                  <p class="m-0 partner-designation">Gaming Hardware Specialist</p>
                </div>
              </div>
            </div>
          </a>

          <a href="https://retrohandhelds.gg/anbernic-rg40xxv-review/" target="_blank" class="d-flex flex-grow-1">
            <div class="testimony d-flex flex-column p-4 gap-4">
              <img src="../assets/lumio-assets/quote.svg" style="width: 24px; height: 24px;">
              <p class="m-0" style="font-size: 24px; line-height: 150%; color: var(--gray-800)">
                From NES to PS1, the Lumio 64 handles it all with ease. The intuitive menu system and excellent battery life mean you’ll spend more time
                gaming and less time fiddling with settings. A truly versatile handheld.
              </p>
              
              <div class="d-flex flex-row gap-3 flex-grow-1 align-items-end">
                <img class="testimony-img" src="../assets/lumio-assets/testimonies/creative4gaming.png" alt="partner">
                <div class="d-flex flex-column justify-content-between">
                  <p class="m-0 partner-name">Creative4Gaming</p>
                  <p class="m-0 partner-designation">Content Creator and Game Reviewer</p>
                </div>
              </div>
            </div>
          </a>

          <a href="https://retrododo.com/anbernic-rg40xx-v-review/" target="_blank" class="d-flex flex-grow-1">
            <div class="testimony d-flex flex-column p-4 gap-4">
              <img src="../assets/lumio-assets/quote.svg" style="width: 24px; height: 24px;">
              <p class="m-0" style="font-size: 24px; line-height: 150%; color: var(--gray-800)">
                With its ultra-narrow bezel and sharp 4-inch IPS screen, this device gives off that perfect retro vibe. 
                It's a real blast for fans of vertical handhelds, though the rapid product releases by Pyxels might make it harder for owners to keep up with all the update.
              </p>
              
              <div class="d-flex flex-row gap-3 flex-grow-1 align-items-end">
                <img class="testimony-img" src="../assets/lumio-assets/testimonies/retrododo.png" alt="partner">
                <div class="d-flex flex-column justify-content-between">
                  <p class="m-0 partner-name">RetroDodo</p>
                  <p class="m-0 partner-designation">Retro Gaming Blog</p>
                </div>
              </div>
            </div>
          </a>

          <a href="https://www.youtube.com/watch?v=ECe4Lak58fY" target="_blank" class="d-flex flex-grow-1">
            <div class="testimony d-flex flex-column p-4 gap-4">
              <img src="../assets/lumio-assets/quote.svg" style="width: 24px; height: 24px;">
              <p class="m-0" style="font-size: 24px; line-height: 150%; color: var(--gray-800)">
                What surprised me most was how user-friendly this device is for beginners, yet so versatile for seasoned modders. 
                The performance on this system punches well above its price point, and the screen clarity is downright stunning for retro titles.
              </p>
              
              <div class="d-flex flex-row gap-3 flex-grow-1 align-items-end">
                <img class="testimony-img" src="../assets/lumio-assets/testimonies/retrogamecorps.png" alt="partner">
                <div class="d-flex flex-column">
                  <p class="m-0 partner-name">Retro Game Corps</p>
                  <p class="m-0 partner-designation">Retro Gaming Expert</p>
                </div>
              </div>
            </div>
          </a>

          <a href="https://droix.net/blogs/anbernic-rg-40xxv-review/" target="_blank" class="d-flex flex-grow-1">
            <div class="testimony d-flex flex-column p-4 gap-4">
              <img src="../assets/lumio-assets/quote.svg" style="width: 24px; height: 24px;">
              <p class="m-0" style="font-size: 24px; line-height: 150%; color: var(--gray-800)">
                The Lumio 64 is an exceptional blend of modern functionality and retro charm. Its ergonomic design and customizable 
                RGB lighting make it perfect for marathon gaming sessions, while the crisp 4-inch display breathes new life into classic games.
              </p>
              
              <div class="d-flex flex-row gap-3 flex-grow-1 align-items-end">
                <img class="testimony-img" src="../assets/lumio-assets/testimonies/droix.png" alt="partner">
                <div class="d-flex flex-column justify-content-between">
                  <p class="m-0 partner-name">DroiX</p>
                  <p class="m-0 partner-designation">Retro Gaming Store Owner</p>
                </div>
              </div>
            </div>
          </a>

          <a href="https://retrohandhelds.gg/anbernic-rg40xxv-review/" target="_blank" class="d-flex flex-grow-1">
            <div class="testimony d-flex flex-column p-4 gap-4">
              <img src="../assets/lumio-assets/quote.svg" style="width: 24px; height: 24px;">
              <p class="m-0" style="font-size: 24px; line-height: 150%; color: var(--gray-800)">
                This console feels like a love letter to retro gaming fans. The tactile buttons, lightweight frame, and seamless 
                emulation make it one of the most enjoyable devices to play on. It just works, straight out of the box.
              </p>
              
              <div class="d-flex flex-row gap-3 flex-grow-1 align-items-end">
                <img class="testimony-img" src="../assets/lumio-assets/testimonies/retrohandhelds.png" alt="partner">
                <div class="d-flex flex-column justify-content-between">
                  <p class="m-0 partner-name">Retro Handhelds</p>
                  <p class="m-0 partner-designation">Retro Gaming Reviewer</p>
                </div>
              </div>
            </div>
          </a>

        </div>
      </div>

      <div class="testimonies-overlay-left"></div>
      <div class="testimonies-overlay-right"></div>
      
    </div>

   <!-- Footer -->
   <footer class="d-flex w-100 flex-column align-items-end">
    <!-- Logo -->
    <div
      class="d-flex align-items-center flex-grow-1 align-self-center py-4"
      style="padding: 0px 90px"
    >
      <a href="index.html">
        <img class="float-end mb-3" style="margin-right: -10%; width: 15%; height: auto" src="../assets/footer-assets/hearts.svg" alt="hearts">
        <img class="w-100" src="../assets/footer-assets/PYXELS.svg" alt="pyxels-logo">
      </a>
    </div>

    <!-- Links -->
    <div class="d-flex flex-row w-100 px-4 align-items-end flex-wrap">
      <div
        class="d-flex flex-column py-4 px-3 gap-1 col-12 col-sm-6 col-lg-4 col-xl-2"
      >
        <div class="d-flex flex-row gap-1">
          <a href="https://www.youtube.com/@ANBERNIC" target="_blank" >
            <img class="socials" src="../assets/footer-assets/YouTube.svg" alt="youtube">
          </a>
          <a href="https://www.instagram.com/anbernic_official_store/?hl=en" target="_blank" >
            <img class="socials" src="../assets/footer-assets/Instagram.svg" alt="instagram">
          </a>
        </div>
        <div class="d-flex flex-row gap-1">
          <a href="https://www.facebook.com/anbernicofficial/" target="_blank" >
            <img class="socials" src="../assets/footer-assets/Facebook.svg" alt="facebook">
          </a>
          <a href="https://x.com/anbernic_china" target="_blank" >
            <img class="socials" src="../assets/footer-assets/Twitter.svg" alt="twitter">
          </a>
        </div>
      </div>
      <div
        class="d-flex flex-column gap-1 py-4 px-4 col-12 col-sm-6 col-lg-4 col-xl-2"
      >
        <p>+65 6337 8290</p>
        <a href="mailto: support@pyxels.com"><p>support@pyxels.com</p></a>
        <p>
          24 New Industrial Rd, <br />#06-08 InSpace, <br />Singapore 536210
        </p>
      </div>
      <div
        class="d-flex flex-column gap-1 py-4 px-4 col-12 col-sm-6 col-lg-4 col-xl-2"
      >
        <p>Pyxel Collection</p>
        <a href="lumio.html" style="font-family: 'MonsterFriendFore'"
          ><p>Lumio 64</p></a
        >
        <a href="voltio.html" style="font-family: 'MonsterFriendFore'"
          ><p>Voltio Classic</p></a
        >
      </div>
      <div
        class="d-flex flex-column gap-1 py-4 px-4 col-12 col-sm-6 col-lg-4 col-xl-2"
      >
        <a href="about_us.html"><p>Behind the Pyxels</p></a>
        <a href="featured-games.html"><p>Game Arcade</p></a>
      </div>
      <div
        class="d-flex flex-column gap-1 py-4 px-4 col-12 col-sm-6 col-lg-4 col-xl-2"
      >
        <a href="news.html"><p>Updates</p></a>
        <a href="customer-support.html"><p>Support</p></a>
        <a href="privacy_policy.html"><p>Privacy Policy</p></a>
        <a href="return_policy.html"><p>Return Policy</p></a>
      </div>
      <div
        class="d-flex flex-column gap-1 py-4 px-4 col-12 col-sm-6 col-lg-4 col-xl-2"
      >
        <p>&copy; Pyxels.<br />All rights reserved.</p>
      </div>
    </div>
  </footer>
    
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>

  </body>
</html>
