<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Space+Grotesk:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/news.css" />
  </head>
  <body class="primary-background">
    <main id="news">
      <section>
        <div class="container-fluid p-0 carousel-section">
          <div
            id="carouselExampleAutoplaying"
            class="carousel slide"
            data-bs-ride="carousel"
          >
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="carousel-img-wrapper">
                  <div class="overlay"></div>
                  <img
                    src="../assets/pokemon-sun-moon.png"
                    class="d-block w-100"
                    alt="Pokemon Sun and Moon"
                  />
                </div>
                <div class="carousel-caption d-block">
                  <h3>Exciting Game Additions</h3>
                  <p>
                    We're thrilled to announce the expansion of our game
                    library, featuring the beloved Pokémon Sun and Moon, Pac-Man
                    Championship Edition and other fan-favorite retro titles.
                    Immerse yourself in nostalgic adventures as we continue to
                    enhance the retro gaming experience with more iconic games.
                  </p>
                </div>
              </div>
              <div class="carousel-item">
                <div class="carousel-img-wrapper">
                  <div class="overlay"></div>
                  <img
                    src="../assets/software.png"
                    class="d-block w-100 image-right"
                    alt="Software"
                  />
                </div>

                <div class="carousel-caption d-block">
                  <h3>Software Update 3.1</h3>
                  <p>
                    Our latest software update is designed to bring you a
                    smoother, more engaging gaming experience. This update
                    introduces customizable game settings, improved save state
                    management, and an optimized interface for better
                    navigation.
                  </p>
                </div>
              </div>
              <div class="carousel-item">
                <div class="carousel-img-wrapper">
                  <div class="overlay"></div>
                  <img
                    src="../assets/firmware.jpg"
                    class="d-block w-100"
                    alt="Firmware"
                  />
                </div>
                <div class="carousel-caption d-block">
                  <h3>Firmware Update 2.0</h3>
                  <p>
                    The latest firmware update enhances the overall performance
                    of your retro pocket, ensuring faster load times and greater
                    stability for all supported games. Stay ahead with better
                    compatibility and an enriched gaming experience!
                  </p>
                </div>
              </div>
              <div class="carousel-item">
                <div class="carousel-img-wrapper">
                  <div class="overlay"></div>
                  <img
                    src="../assets/gamescom-asia.jpg"
                    class="d-block w-100"
                    alt="Gamescom Asia 2024"
                  />
                </div>
                <div class="carousel-caption d-block">
                  <h3>Gamescom Asia 2024</h3>
                  <p>
                    We had an amazing time at Gamescom Asia 2024! It was great
                    meeting so many of you, sharing the excitement of retro
                    gaming, and showcasing our latest Retro Pocket. From
                    gameplay demos to exclusive previews, the response was
                    overwhelming. We can't wait to continue this journey with
                    you—stay tuned!
                  </p>
                </div>
              </div>
              <div class="carousel-item">
                <div class="carousel-img-wrapper">
                  <div class="overlay"></div>
                  <img
                    src="../assets/sme100.png"
                    class="d-block w-100 image-right"
                    alt="sme100 Award"
                  />
                </div>
                <div class="carousel-caption d-block">
                  <h3 class="logo primary-text">Pyxels</h3>
                  <h3>Wins SME100 Award</h3>
                  <p>
                    Pyxels has been honored with the SME100 Award in Singapore
                    for our innovation and excellence in gaming. Thank you to
                    our team and community for making this possible. We’re
                    excited to keep pushing the boundaries of retro gaming!ing.
                    We can't wait to continue this journey with you—stay tuned!
                  </p>
                </div>
              </div>
              <div class="carousel-item">
                <div class="carousel-img-wrapper">
                  <div class="overlay"></div>
                  <img
                    src="../assets/retro-game-corps.png"
                    class="d-block w-100 image-right"
                    alt="Retro Games Corp Collaboration"
                  />
                </div>
                <div class="carousel-caption d-block">
                  <h3 class="logo secondary-text">Pyxels</h3>
                  <h3>X Retro Game Corps</h3>
                  <p>
                    We’re thrilled to share that Retro Game Corps is featuring
                    the Retro Lumios in their latest exploration of retro
                    gaming. Known for their in-depth reviews, they’ll highlight
                    its portability, performance, and gameplay customization.
                    Stay tuned as Retro Game Corps shares gameplay demos,
                    emulator insights, and top tips for retro gaming with Retro
                    Lumios!
                  </p>
                </div>
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExampleAutoplaying"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExampleAutoplaying"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </section>
      <section id="coming-soon" class="secondary-background">
        <div class="container">
          <div class="d-flex flex-row gap-3 mb-4">
            <h1 class="logo">&</h1>
            <h1>Coming Soon</h1>
          </div>
          <div class="row mb-md-5">
            <div
              class="col-lg-6 col-md-12 mb-4 px-4 d-flex flex-column justify-content-center"
            >
              <img
                src="../assets/retro-pocket-fold-back.png"
                class="img-fluid image-wrapper w-100"
                alt="Retro Pocket Fold Back"
              />
            </div>
            <div
              class="col-lg-6 col-md-12 mb-4 px-4 d-flex flex-column justify-content-center gap-md-3"
            >
              <h4>The Retro Pocket Fold – A New Era of Portability</h4>
              <p>
                Get ready for the next evolution in portable gaming – the Retro
                Pocket Fold! Combining the nostalgic charm of retro gaming with
                cutting-edge design, this foldable model is perfect for gamers
                on the go. Its sleek, foldable design makes it ultra-portable,
                fitting easily in your pocket, while still delivering a premium
                gaming experience. Stay tuned for more details – the Retro
                Pocket Fold is coming soon!
              </p>
            </div>
          </div>
          <div class="row d-flex flex-md-row-reverse mb-md-5">
            <div
              class="col-lg-6 col-md-12 mb-4 px-4 d-flex flex-column justify-content-center"
            >
              <img
                src="../assets/gamestart-asia.png"
                class="img-fluid image-wrapper w-100"
                alt="GameStart Asia"
              />
            </div>
            <div
              class="col-lg-6 col-md-12 mb-4 px-4 d-flex flex-column justify-content-center gap-md-3"
            >
              <h4>GameStart Asia 2025 – The Ultimate Gaming Experience</h4>
              <p>
                Get ready for GameStart Asia 2025! Join us for hands-on demos,
                exclusive previews, and a chance to connect with fellow gamers.
                We’ll be showcasing the latest Pyxels updates, new games, and
                exciting features. Stay tuned for more details on our booth,
                events, and giveaways – it’s going to be an unforgettable
                experience!
              </p>
            </div>
          </div>
          <div class="row mb-md-5">
            <div
              class="col-lg-6 col-md-12 mb-4 px-4 d-flex flex-column justify-content-center"
            >
              <img
                src="../assets/retro-pocket-accessory.png"
                class="img-fluid image-wrapper w-100"
                alt="Game Image"
              />
            </div>
            <div
              class="col-lg-6 col-md-12 mb-4 px-4 d-flex flex-column justify-content-center gap-md-3"
            >
              <h4>Retro Pocket Accessories</h4>
              <p>
                Elevate your gaming experience with our new range of Retro
                Pocket accessories! From custom skins to personalize your
                device, to premium carrying cases for protection on the go.
                We’re also introducing ergonomic grips for better comfort, and
                portable stands for easy gameplay.
                <br /><br />
                Get ready to take your Pyxels experience to the next level—stay
                tuned for the full collection, coming soon!
              </p>
            </div>
          </div>
        </div>
      </section>
    </main>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
