<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pyxels - Privacy Policy</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Space+Grotesk:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="icon" href="../assets/pyxel-favicon.svg" type="image/svg">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/privacy.css" />
    <link rel="stylesheet" href="https://unpkg.com/lenis@1.1.13/dist/lenis.css">

    <script src="https://unpkg.com/lenis@1.1.14/dist/lenis.min.js"></script> 
    <script src="../js/lenis_scroll.js"></script> 
  </head>
  <body class="primary-background d-flex flex-column align-items-center">

    <!-- Header -->
    <div class="d-flex align-items-end" style="min-height: 240px; padding-top: 76px;">
      <h1 class="py-4 px-3 shopping-header">Privacy Policy</h1>
    </div>

    <div class="secondary-background w-100 d-flex justify-content-center" style="border-radius: 64px;">
      <div class="d-flex w-100 flex-column gap-5 px-4" style="padding: 100px 0px; max-width: 1096px;">
        <h2 class="w-100 text-center" style="color: var(--primary-background-color)">Privacy Policy</h2>
        <div class="d-flex flex-column gap-5">

          <p>This Privacy Policy describes how your personal information is collected, used, and shared when you visit or make a purchase from www.pyxels.com (the "site").</p>

          <div class="col-12">
            <h5 style="color: var(--primary-background-color)">Personal information we collect</h4>
            <p>When you visit the site, we automatically collect certain information about your device, including information about your web browser, IP address, time zone, and some of the cookies that are installed on your device. 
              Additionally, as you browse the site, we collect information about the individual web pages or products that you view, what websites or search terms referred you to the site and information about how you interact with the site. 
              We refer to this automatically-collected information as “Device Information”.</p>
          </div>

          <div class="col-12">
            <h5 style="color: var(--primary-background-color)">We collect Device Information using the following technologies:</h4>
            <div class="d-flex flex-column gap-3">
              <p>“Cookies” are data files that are placed on your device or computer and often include an anonymous unique identifier. 
                For more information about cookies, and how to disable cookies, visit http://www.allaboutcookies.org.</p>
              <p>Log files” track actions occurring on the site, and collect data including your IP address, browser type, Internet service provider, referring/exit pages, and date/time stamps.</p>
              <p>“Web beacons”, “tags”, and “pixels” are electronic files used to record information about how you browse the site.</p>
              <p>Additionally, when you make a purchase or attempt to make a purchase through the site, we collect certain information from you, including your name, billing address, shipping address, payment information (including credit card numbers， etc.,), email address, and phone number. 
                We refer to this information as “Order Information”.</p>
              <p>When we talk about “Personal Information” in this Privacy Policy, we are talking both about Device Information and Order Information.</p>
            </div>
          </div>

          <div class="col-12">
            <h5 style="color: var(--primary-background-color)">Data protection and security measures</h4>
            <div class="d-flex flex-column gap-3">
              <p>We take the security of your personal information seriously. We have implemented appropriate security measures designed to protect your personal information against unauthorized access, disclosure, alteration, or destruction. These measures include encryption, secure storage, access controls, and regular security audits. 
                While we strive to use industry-standard security practices, please understand that no method of transmission over the internet or electronic storage is 100% secure, and we cannot guarantee absolute security.</p>
            </div>
          </div>

          <div class="col-12">
            <h5 style="color: var(--primary-background-color)">Sharing your Personal Information</h4>
            <div class="d-flex flex-column gap-3">
              <p style="word-wrap: break-word; word-break: break-word;">We share your Personal Information with third parties to help us use your Personal Information, as described above. 
                For example, we use Shopify to power our online store--you can read more about how Shopify uses your Personal Information here: https://www.shopify.com/legal/privacy. 
                We also use Google Analytics to help us understand how our customers use the site -- you can read more about how Google uses your Personal Information here: https://www.google.com/intl/en/policies/privacy/. 
                You can also opt-out of Google Analytics here: https://tools.google.com/dlpage/gaoptout.</p>
              <p>Finally, we may also share your Personal Information to comply with applicable laws and regulations, to respond to a subpoena, search warrant or other lawful requests for information we receive, or to otherwise protect our rights.</p>
            </div>
          </div>

          <div class="col-12">
            <h5 style="color: var(--primary-background-color)">Withdrawing consent</h4>
            <div class="d-flex flex-column gap-3">
              <p>You have the right to withdraw your consent for us to collect, use, or disclose your personal information at any time. 
                To withdraw consent, please contact us using the information provided below under “Contact Us.” Please note that if you choose to withdraw your consent, this may impact your ability to use certain features or services on the site. 
                Any withdrawal of consent will not affect the lawfulness of our use of your information prior to your request.</p>
            </div>
          </div>

          <div class="col-12">
            <h5 style="color: var(--primary-background-color)">You can opt out of targeted advertising by using the links below:</h4>
            <div class="d-flex flex-column gap-3" style="word-wrap: break-word; word-break: break-word;">
              <p>Facebook: https://www.facebook.com/settings/?tab=ads</p>
              <p>Google: https://www.google.com/settings/ads/anonymous</p>
              <p>Bing: https://advertise.bingads.microsoft.com/en-us/resources/policies/personalized-ads</p>
              <p>Additionally, you can opt-out of some of these services by visiting the Digital Advertising Alliance’s opt-out portal at: http://optout.aboutads.info/.</p>
            </div>
          </div>

          <div class="col-12">
            <h5 style="color: var(--primary-background-color)">Do not track</h4>
            <div class="d-flex flex-column gap-3">
              <p>Please note that we do not alter our site’s data collection and use practices when we see a Do Not Track signal from your browser.</p>
            </div>
          </div>

          <div class="col-12">
            <h5 style="color: var(--primary-background-color)">Your rights</h4>
            <div class="d-flex flex-column gap-3">
              <p>If you are a Singaporean resident, you have the right to access personal information we hold about you and to ask that your personal information be corrected, updated, or deleted. 
                If you would like to exercise this right, please contact us through the contact information below.</p>
              <p>Additionally, if you are a Singaporean resident we note that we are processing your information in order to fulfill contracts we might have with you (for example if you make an order through the site), or otherwise to pursue our legitimate business interests listed above. 
                Additionally, please note that your information will be transferred outside of Singapore.</p>
            </div>
          </div>

          <div class="col-12">
            <h5 style="color: var(--primary-background-color)">Data retention</h4>
            <div class="d-flex flex-column gap-3">
              <p>When you place an order through the site, we will maintain your Order Information for our records unless and until you ask us to delete this information.</p>
              <p>We retain your personal information only for as long as it is necessary to fulfill the purposes for which it was collected or to comply with legal, regulatory, or business requirements. 
                If you no longer want us to retain your information, you may contact us to request its deletion, subject to any legal obligations we may have. 
                Specifically, Order Information will generally be kept for 7 years unless a deletion request is made.</p>
            </div>
          </div>

          <div class="col-12">
            <h5 style="color: var(--primary-background-color)">Changes</h4>
            <div class="d-flex flex-column gap-3">
              <p>We may update this privacy policy from time to time in order to reflect, for example, changes to our practices or for other operational, legal,or regulatory reasons.</p>
            </div>
          </div>

          <div class="col-12">
            <h5 style="color: var(--primary-background-color)">Contact us</h4>
            <div class="d-flex flex-column gap-3">
              <p>For more information about our privacy practices, if you have questions, or if you would like to make a complaint, please contact us by e‑mail at support@pyxels.com.</p>
            </div>
          </div>

        </div>
        
      </div>
    </div>

  </body>
</html>