<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pyxels - Return Policy</title>
    <meta
      name="description"
      content="Pyxels offers a hassle-free return and exchange policy for all Retro Pocket devices. Learn about our easy return process, eligibility criteria, and how we ensure customer satisfaction with every purchase."
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Space+Grotesk:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="icon" href="../assets/pyxel-favicon.svg" type="image/svg" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/privacy.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/lenis@1.1.13/dist/lenis.css"
    />

    <script src="https://unpkg.com/lenis@1.1.14/dist/lenis.min.js"></script>
    <script src="../js/lenis_scroll.js"></script>
  </head>
  <body class="primary-background d-flex flex-column align-items-center">
    <!-- Header -->
    <div
      class="d-flex align-items-end"
      style="min-height: 240px; padding-top: 76px"
    >
      <h1 class="py-4 px-3 shopping-header">Return Policy</h1>
    </div>

    <div
      class="secondary-background w-100 d-flex justify-content-center"
      style="border-radius: 64px"
    >
      <div
        class="d-flex w-100 flex-column gap-5 px-4"
        style="padding: 100px 0px; max-width: 1096px"
      >
        <h2
          class="w-100 text-center"
          style="color: var(--primary-background-color)"
        >
          Return and Exchange Policy
        </h2>
        <div class="d-flex flex-column gap-5">
          <div class="col-12">
            <h5 style="color: var(--primary-background-color)">Returns</h5>
            <p>
              If you're not fully satisfied with your retro pocket purchase, we
              offer a 14-day return window. To be eligible for a return, the
              product must be unused and in its original packaging with all
              accessories and manuals included. Simply contact us at
              <a
                href="mailto:support@pyxels.com"
                style="color: var(--primary-color)"
                >support@pyxels.com</a
              >
              or fill in the
              <a
                href="customer-support.html#contact"
                style="color: var(--primary-color)"
                >enquiry form</a
              >
              to start the return process.
            </p>
          </div>

          <div class="col-12">
            <h5 style="color: var(--primary-background-color)">Exchanges</h5>
            <p>
              We accept exchanges for defective or damaged items within 14 days
              of purchase. The product must be in its original condition. Please
              contact us at
              <a
                href="mailto:support@pyxels.com"
                style="color: var(--primary-color)"
                >support@pyxels.com</a
              >
              or fill in the
              <a
                href="customer-support.html#contact"
                style="color: var(--primary-color)"
                >enquiry form</a
              >
              to initiate the exchange process, and our team will assist you in
              selecting a replacement item.
            </p>
          </div>

          <div class="col-12">
            <h5 style="color: var(--primary-background-color)">
              Non-Returnable Items
            </h5>
            <p>
              Items that have been used, damaged by the customer, or are not in
              their original condition will not be eligible for return or
              exchange.
            </p>
          </div>

          <div class="col-12">
            <h5 style="color: var(--primary-background-color)">
              Return Shipping Costs
            </h5>
            <p>
              The customer is responsible for the cost of return shipping unless
              the product was defective or damaged upon arrival. We recommend
              using a trackable shipping service for returns to ensure safe
              delivery.
            </p>
          </div>

          <div class="col-12">
            <h5 style="color: var(--primary-background-color)">Refunds</h5>
            <p>
              Once we receive the returned item, it will be inspected. If it
              meets the return criteria, we will process a refund to the
              original payment method. Refunds may take 5-10 business days to
              reflect in your account, depending on your payment provider.
            </p>
          </div>

          <div class="col-12">
            <h5 style="color: var(--primary-background-color)">Contact Us</h5>
            <p>
              If you have any questions regarding returns or exchanges, please
              reach out to our customer service team at
              <a
                href="mailto:support@pyxels.com"
                style="color: var(--primary-color)"
                >support@pyxels.com</a
              >
              or fill in the
              <a
                href="customer-support.html#contact"
                style="color: var(--primary-color)"
                >enquiry form</a
              >. We are happy to assist you and ensure your satisfaction with
              your Pyxels purchase.
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
