.primary-background {
  background-color: var(--primary-background-color);
  color: var(--on-primary-background-color);
}
.secondary-background {
  background-color: var(--secondary-background-color);
  color: var(--on-secondary-background-color);
}
.primary {
  background-color: var(--primary-color);
  color: var(--on-primary-color);
}
.secondary {
  background-color: var(--secondary-color);
  color: var(--on-secondary-color);
}
